.center-parent {
  width: 100%;
  height: 90%; }

@media (min-width: 1000px) {
  #content {
    width: 50%;
  }
}

h1 {
  font-size: 7vw;
  text-align: center;
  color: #53cf29;
  background: -webkit-linear-gradient(#53cf29, #317a18);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1); }

p {
  margin-bottom: 2rem; }



body {
  padding-top: 20px;
}

.center-child {
  box-sizing: border-box;
  color: white;
  width: 70%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  max-width: calc(100% - 30px);
  background-color: rgba(0, 0, 0, 0.4);
}

.logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 35px;
  margin-top: 10px;
}

input[type="text"].login {
  padding: 1rem 1.5rem;
  font-size: 2.4rem;
  line-height: 1.4;
  height: 5.36rem;
  width: 100%;
}

input[type="submit"] {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #8c8c8c;
  margin-top: 7px;
  margin-bottom: 20px;
  padding: 10px;
  color: #fff;
  width: 100%;
  font-size: smaller;
  text-transform: uppercase;
}

input[type="text"]:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.ad {
  margin: auto;
  width: 40%;
  text-align: center;
  padding-top: 30px;
}

.ad_header {
  font-size: smaller;
  text-transform: uppercase;
}


#login_text p {
  margin-top: 20px;
}