@import url(//fonts.googleapis.com/css?family=Lato:400,700,300);
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//fonts.googleapis.com/css?family=Open+Sans:600,400,300);
@import url(//fonts.googleapis.com/css?family=Lato:400,300,100,400italic,700);
* {
  box-sizing: border-box;
  margin: 0; }

{% load staticfiles %}

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  font-size: 10px;
  letter-spacing: normal;
  background: black url(../dark_embroidery.png) repeat 0 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #fff;
}

/*Open Sans font by Steve Matteson, Apache 2.0 License: http://www.apache.org/licenses/LICENSE-2.0.html*/
body {
  font-size: 1.4rem;
  line-height: 1.4;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif; }

input {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif !important; }

input[type="text"] {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #8c8c8c;
  color: #fff;
  /* padding: 0.5rem 0.75rem; */
  font-size: 1.2rem;
  line-height: 1.4;
  height: 2.68rem; }
  input[type="text"].bigger {
    padding: 0.625rem 0.9375rem;
    font-size: 1.5rem;
    line-height: 1.4;
    height: 3.35rem; }
  input[type="text"].huge {
    padding: 1rem 1.5rem;
    font-size: 2.4rem;
    line-height: 1.4;
    height: 5.36rem; }

strong {
  font-weight: 700; }

a {
  text-decoration: none !important;
  font-weight: 400;
  color: #b3b3b3; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat',Helvetica,Sans-serif;
  font-weight: 300;
  margin: 0;
  line-height: 1.4;
  color: #ffffff; }
  h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
    color: #f2f2f2; }

h1 {
  font-size: 12rem;
  color: #0f0f0f; }
  h1.light {
    color: #f0f0f0; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.6rem; }

h4 {
  font-size: 2.4rem; }

h5 {
  font-size: 2.2rem; }

h6 {
  font-size: 2rem; }

p {
  font-family: 'Open Sans',Helvetica,Sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4; }

li {
  list-style: none; }

.light {
  color: #f0f0f0; }

.grey {
  color: #999999; }

.small {
  font-size: 0.75em; }

.large {
  font-size: 1.25em; }

.left {
  float: left; }

.right {
  float: right; }

.table {
  padding: 1rem; }

hr {
  margin: 2rem 0;
  border-color: #f2f2f2; }
  hr.dark {
    border-color: #8c8c8c; }

.pad1 {
  padding: 0.75rem 1rem; }

.pad2 {
  padding: 1.5rem 2.25rem; }

.nopad {
  padding: 0 !important; }

.ad {
  margin: auto;
  width: 40%;
  text-align: center;
  padding-top: 30px;
  margin-bottom: 30px;
}

.ad_header {
  font-size: smaller;
  text-transform: uppercase;
}

.ad_footer {
  margin-top: 15px;
  font-size: smaller;
}