.center-parent {
  width: 100%;
  height: 90%; }

.member_list {
  box-sizing: border-box;
  color: white;
  width: 70%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  max-width: calc(100% - 30px);
  background-color: rgba(0, 0, 0, 0.4);
}

.columns {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.column_logo {
    float: left;
    width: 30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.column_search {
    display: inline-block;
    width: 40%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}
.column_logout {
    float: right;
    width: 30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}


#content {
  width: 80%; }

h1 {
  font-size: 7vw;
  text-align: center;
  color: #53cf29;
  background: -webkit-linear-gradient(#53cf29, #317a18);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1); }

p {
  margin-bottom: 2rem; }



body {
  padding-top: 20px;
}

.center-child {
  box-sizing: border-box;
  color: white;
  width: 70%;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  max-width: calc(100% - 30px);
  background-color: rgba(0, 0, 0, 0.4);
}

.logo {
  margin: auto;
  background:url(../katalogen14_logo_text.png) no-repeat center center;
  background-size: contain;
  height: 150px;
}

input[type="text"].login {
  padding: 1rem 1.5rem;
  font-size: 2.4rem;
  line-height: 1.4;
  height: 5.36rem;
  width: 100%;
}

input[type="submit"] {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #8c8c8c;
  margin-top: 7px;
  margin-bottom: 20px;
  padding: 10px;
  color: #fff;
  width: 100%;
  font-size: smaller;
  text-transform: uppercase;
}

input[type="text"]:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.2);
}




table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

td {

    padding: 10px 5px;

}

tr {
    border-width: 1px 0;
    border-color: #fff;
    border-style: solid;

}
.list_header {
    background-color: rgba(0, 0, 0, 0.4);
    font-size: smaller;
    text-transform: uppercase;

}

.member_open {
    border: 0px;
}