{% extends "base.html" %}
{% load staticfiles %}
{% block css_files %}
<link href="{% static 'styles/login_app.css' %}" rel="stylesheet" >
<script src="{% static 'scripts.js' %}"></script>
{% endblock %}

{% block title %}Katalogen{% endblock %}

        <script>
        </script>
{% block content %}
<div class="center-parent">	
	<div id="content" class="center-child pad2">
		<div class="logo"></div>
        {% if user.is_authenticated %}
            <p>Hej <strong>{{ name }}</strong>! <a href="/logout/">Logga ut</a></p>
            <p><a href="/medlemmar/">Medlemsregistret</a></p>
        {% else %}
            <div id="login_text">
                <p>För att logga in till Katalogen behöver du vara Teknologföreningens medlem och din e-postadress måste finnas i medlemsregistret. Vänligen skriv in din e-postadress för att fortsätta:</p>
                <form id="login_form" action="" method="post">
                    {% csrf_token %}
                    <input class="login" type="text" name="main_input" id="main_input" />
                    <input type="submit" value="Skicka">
                </form>
                <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

                <script>
                $('#login_form').submit(function(e){
                    $('#login_text').html("<p>Ett ögonblick...</p>");
                    $.post('/login/', $(this).serialize(), function(data){
                       $('#login_text').html(data);
                    });
                    e.preventDefault();
                });

                </script>
                <p>Ifall din adress saknas i medlemsregistret, kontakta <a href="mailto:sekreterare@teknolog.fi">sekreterare@teknolog.fi</a>.</p>
            </div>
        {% endif %}
	</div>
    <div class="ad">
        <p class="ad_header">i samarbete med</p>
        <a href="https://www.teknologforeningen.fi"><img src="{{ STATIC_URL }}tf_logo.png" width="75px"/></a>
        <p class="ad_footer"><a href="https://www.teknologforeningen.fi/sv/samarbete-aktuellt.html">Annonsera i Katalogen</a></p>
    </div>
</div>
{% endblock %}
