{% extends "base.html" %}
{% load staticfiles %}
{% block css_files %}
<link href="{% static 'styles/login_app.css' %}" rel="stylesheet" >
{% endblock %}

{% block title %}Katalogen{% endblock %}


{% block content %}
<div class="center-parent">	
	<div id="content" class="center-child pad2">
		<h1>KATALOGEN</h1>
		<p>För att logga in till Katalogen behöver du vara Teknologföreningens medlem och din e-postadress måste finnas i medlemsregistret. Vänligen skriv in din e-postadress för att fortsätta:</p>
		<form action="/login/" method="post">
            {% csrf_token %}
            <input class="huge" type="text" name="main_input" id="main_input" />
            <input type="submit" value="Skicka">
        </form>

        <p>Ifall din adress saknas från medlemsregistret, kontakta <a href="mailto:sekreterare@teknolog.fi">sekreterare@teknolog.fi</a>.x§</p>
	</div>
</div>
{% endblock %}
